html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@import url(//db.onlinewebfonts.com/c/e33b1a09897268653accb3debb07e7ac?family=Champion);
@font-face {
    font-family: "Champion";
    src: url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.eot");
    src: url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.woff") format("woff"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.svg#Champion") format("svg");
}

@font-face {
    font-family: "faction_personalblack";
    src: url('css/fonts/factionblack-personal-webfont.woff2') format('woff2'), url('css/fonts/factionblack-personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "three-styles""header-text";
    padding: 5vw;
}

.three-styles {
    grid-area: three-styles;
}

.header-text {
    grid-area: header-text;
}

.yellow-box {
    background: #ffb33d;
    width: 150px;
    height: 100px;
}

.parallelogram {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-20deg);
}

.yellow-rotated-box p {
    /* transform: skew(-20deg); */
}

.prueba {
    font-family: "Champion";
}

.prueba2 {
    font-family: 'Space Mono', sans-serif;
}

.prueba3 {
    font-family: "faction_personalblack";
}