@import url(//db.onlinewebfonts.com/c/e33b1a09897268653accb3debb07e7ac?family=Champion);
@import url(//db.onlinewebfonts.com/c/b30e361a621ce3090b02c8b3238deb2c?family=Champion);
@font-face {
    font-family: "Champion";
    src: url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.eot");
    src: url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.woff") format("woff"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.svg#Champion") format("svg");
}

@font-face {
    font-family: "Heavy_Champion";
    src: url("//db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.eot");
    src: url("//db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.woff") format("woff"), url("//db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.svg#Champion") format("svg");
}

@font-face {
    font-family: "faction_personalblack";
    src: url('../css/fonts/factionblack-personal-webfont.woff2') format('woff2'), url('../css/fonts/factionblack-personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$champ: "Champion",
sans-serif;
$heavychamp: "Heavy_Champion",
sans-serif;
$person: "faction_personalblack",
sans-serif;
$mono: "Space Mono",
monospace;
$white: #fff;
$yellow: #ffb33d;
$pink: #ed4462;
$royal: #1a1b2f;
$black: #000;
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

// body {
//     max-width: 80vmax;
//     margin: 0 auto;
// }

header,
section,
body {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.champ {
    font-family: $champ;
}

.heavychamp {
    font-family: $heavychamp;
}

.person {
    font-family: $person;
}

.mono {
    font-family: $mono;
}

.white {
    color: $white;
}

.yellow {
    color: $yellow;
}

.pink {
    color: $pink;
}

.royal {
    color: $royal;
}

.black {
    color: $black;
}

.background-white {
    background-color: $white;
}

.background-yellow {
    background-color: $yellow;
}

.background-pink {
    background-color: $pink;
}

.background-royal {
    background-color: $royal;
}

.yellow-box {
    background-color: $yellow;
}

.royal-box {
    background-color: $royal;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    .header-logo {
        width: 70vw;
        margin: 0 auto;
        padding-bottom: 5vw;
    }
    .header-text {
        width: 80vw;
        margin: -2vw auto;
        p {
            font-size: 4vw;
        }
    }
    .header-mono-font-style {
        font-size: 4vw;
        font-weight: bold;
    }
    button {
        font-family: $heavychamp;
        background-color: $pink;
        font-size: 4vw;
        margin: 5vw auto;
        width: 50vw;
        height: 10vw;
        border: none;
        border-radius: 2vw;
        a {
            text-decoration: none;
            color: $royal;
        }
    }
}

.section1 {
    display: flex;
    flex-direction: column;
    .section1-box {
        margin: 0 auto;
    }
    .section1-mono-font-style {
        font-size: 3.5vw;
        font-weight: bold;
        font-style: italic;
        padding-top: 2vw;
    }
    .section1-champ-style {
        font-size: 20vw;
        margin-top: -3vw;
        font-weight: lighter;
    }
    .section1-transformed-box {
        width: 20vw;
        transform: rotate(-10deg);
        font-style: italic;
        font-size: 6vw;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        position: relative;
        top: -7vw;
        margin: 0 auto;
        z-index: 99;
    }
    .section-1-person-style {
        font-size: 18vw;
        margin-top: -8vw;
        text-align: center;
        span {
            font-size: 9vw;
            position: relative;
            top: -6.5vw;
            left: -2vw;
        }
    }
}

.section2 {
    .section2-mono {
        height: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 4vw;
            font-style: italic;
            font-weight: bold;
        }
    }
    .section2-1stbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: 3vw auto;
        .mono {
            font-size: 4vw;
            font-weight: bold;
        }
        .chihuahua {
            transform: rotate(-1deg);
            margin: -3vw;
        }
        .royal-box {
            width: 50vw;
            height: 30vw;
            padding-top: 3vw;
        }
        .yellow-box {
            padding: 2vw 2vw;
            transform: rotate(-2deg);
            position: relative;
            top: -7vw;
        }
        .heavychamp,
        .champ {
            font-weight: lighter;
            text-align: center;
        }
        .heavychamp {
            font-size: 8vw;
        }
        .champ {
            font-size: 7vw;
        }
    }
    .section2-2ndbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: -8vw auto;
        h2 {
            font-weight: lighter;
        }
        .mono {
            font-size: 3.5vw;
            align-self: flex-end;
            text-align: right;
            margin-bottom: -3vw;
        }
        .royal-box {
            width: 60vw;
            height: 28vw;
        }
        .heavychamp,
        .champ {
            display: flex;
            justify-content: center;
        }
        .champ {
            font-size: 9vw;
            margin-bottom: 1vw;
        }
        .heavychamp {
            font-size: 8vw;
            margin-left: 4vw;
            margin-top: 3vw;
            margin-right: 4vw;
        }
        #section2-span {
            margin-bottom: 3vw;
        }
        #se {
            text-align: center;
            font-size: 4vw;
            padding: 0;
            margin-top: -7vw;
            margin-bottom: -2vw;
        }
        .mono-white {
            margin-right: 12vw;
        }
    }
    .section2-3rdstar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        margin-top: 10vw;
        margin-bottom: 1vw;
        .yellow-box {
            width: 85vw;
            font-size: 3.5vw;
            margin: 8vw auto;
            padding: 0;
            transform: rotate(-3deg);
            text-align: center;
            z-index: 2;
        }
        #star {
            width: 65vw;
            height: auto;
            margin: -16vw auto -3vw;
        }
    }
    .mono {
        text-align: right;
        padding: 3.5vw;
        font-size: 3.5vw;
        font-style: italic;
    }
    .white-mono {
        margin: 4vw auto 1vw;
    }
}

.section3 {
    display: flex;
    flex-direction: column;
    .background-white {
        .champ {
            text-align: center;
            font-size: 14vw;
            font-weight: lighter;
            padding: 3vw;
        }
    }
    .background-yellow {
        clip-path: polygon(0 10%, /* left top */
        100% 0, /* right top */
        100% 100%, /* right bottom */
        0 100%
        /* left bottom */
        );
        padding-top: 2vw;
        .champ {
            text-align: center;
            font-size: 14vw;
            font-weight: lighter;
            padding: 3vw;
        }
    }
    .mono {
        text-align: center;
        font-size: 3.5vw;
        margin-top: -2vw;
        margin-bottom: 4vw;
        font-style: italic;
    }
}

.section4 {
    display: flex;
    flex-direction: column;
    .section-head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        flex-wrap: wrap;
        flex: 1;
        font-weight: lighter;
        padding-top: 10vw;
        padding-right: 14vw;
        font-size: 10vw;
        h2 {
            font-weight: lighter;
        }
    }
    .wrapped-title {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        justify-content: flex-end;
        margin-bottom: 1vw;
        margin-right: 1vw;
        font-size: 4vw;
        text-align: right;
        line-height: 1.2;
    }
    .pasos {
        width: 22vw;
        margin-top: 3vw;
        padding: 0.5vw 2vw;
        margin-left: 63vw;
        margin-top: -4vw;
        font-size: 3vw;
        font-weight: bolder;
        color: $royal;
    }
    .cuatro {
        padding: 0 0.5vw;
        font-weight: lighter;
        font-size: 5vw;
    }
    position: relative;
    .flex-corruption {
        position: relative;
    }
    .flex-corruption::before {
        position: absolute;
        content: "";
        left: 0;
        top: 8vw;
        right: 10vw;
        border-top: 1.5vw solid $yellow;
        transform: rotate(10deg);
        width: 50vw;
        z-index: 999;
    }
    .one,
    .two,
    .three,
    .four {
        width: 6.5vw;
        position: relative;
        top: 15vw;
        left: 10vw;
    }
    .pink {
        margin-left: 17vw;
        font-size: 13vw;
        font-weight: lighter;
        padding: 2vw;
    }
    .left {
        margin-left: 19vw;
        font-size: 3.5vw;
        margin-bottom: -3vw;
    }
    .right {
        margin-right: 23vw;
        margin-top: -4vw;
        font-size: 3.5vw;
        text-align: right;
    }
    .right-2 {
        margin-top: -4vw;
        margin-right: 15vw;
        margin-bottom: 4vw;
        font-size: 3.5vw;
        text-align: right;
    }
    .corruption-through {
        text-decoration: line-through;
    }
}

.section5 {
    padding: 3vw 4vw 3vw 10vw;
    font-size: 3.5vw;
    font-style: italic;
    .royal {
        color: $royal;
        font-weight: bold;
        text-decoration: line-through;
    }
    .yellow {
        font-weight: bold;
    }
}

.section6 {
    padding-top: 3vw;
    padding-bottom: 4vw;
    text-align: center;
    .yellow-box {
        width: 60vw;
        margin: 0 auto;
        text-align: center;
        padding-top: 1.5vw;
        font-size: 10.5vw;
        font-weight: lighter;
    }
    #triforce {
        width: 60vw;
        margin: 0 auto;
        padding-top: 3vw;
        padding-bottom: 4vw;
    }
    .mono {
        font-size: 3.5vw;
        text-align: center;
    }
    .header {
        margin-left: 20vw;
        text-align: left;
    }
    .pink-heavychamp {
        font-size: 3.7vw;
        font-weight: lighter;
        padding-top: 2vw;
    }
    span {
        font-family: $champ;
        font-size: 6vw;
        color: $yellow;
    }
}

.section7 {
    padding-top: 3vw;
    padding-bottom: 4vw;
    .yellow-box {
        width: 65vw;
        margin: 0 auto;
        text-align: center;
        padding: 1vw;
        font-size: 10.5vw;
        font-weight: lighter;
    }
    .royal-yellow-box {
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin: 0 auto;
        font-size: 9vw;
        h4 {
            font-weight: lighter;
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
        }
        .heavychamp {
            font-weight: bold;
            display: flex;
            flex-direction: row;
            padding: 0 2vw;
            font-size: 10vw;
            margin-bottom: -3vw;
        }
        .royal-box:nth-child(2) {
            padding-bottom: 4vw;
        }
        .yellow-box {
            width: 45vw;
            font-size: 5.5vw;
            font-size: bolder;
            z-index: 1;
            position: relative;
            top: -4vw;
            transform: rotate(-2deg);
        }
    }
    #person {
        font-size: 12vw;
        font-weight: lighter;
        padding-top: 2.5vw;
    }
    .mono {
        font-size: 4vw;
        text-align: center;
    }
    .header-top {
        margin-left: 17vw;
        text-align: left;
    }
    .header-bottom {
        text-align: right;
        padding-right: 17vw;
        padding-bottom: 4vw;
    }
    .yellow-mono {
        font-weight: bold;
        font-style: italic;
        margin-bottom: 2vw;
    }
    .heavychamp {
        font-size: 5vw;
        font-weight: lighter;
        text-align: center;
    }
    .yellow-ellipse {
        width: 42vw;
        height: 9vw;
        background: $yellow;
        border-radius: 65vw / 15vw;
        z-index: -1;
        margin: 5vw auto 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mono-pink {
        padding: 4vw;
        font-size: 6vw;
        font-weight: bold;
        font-style: italic;
    }
    #center {
        text-align: center;
    }
    .anonimo {
        display: flex;
        justify-content: center;
        font-size: 12vw;
        padding: 4vw;
        span {
            color: black;
        }
        img {
            width: 10vw;
        }
        .pink-strike {
            position: relative;
            color: $yellow;
            margin-right: 3vw;
        }
        .pink-strike::before {
            position: absolute;
            content: "";
            left: 0;
            top: 8vw;
            right: 10vw;
            border-top: 1.5vw solid $pink;
            transform: rotate(10deg);
            width: 30vw;
            z-index: 999;
        }
    }
    .anonimo-text {
        width: 70vw;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 2vw;
        font-style: italic;
        .pink {
            font-weight: bold;
        }
    }
    .yellow-center {
        text-align: left;
        width: 70vw;
        margin: 0 auto;
        padding: 2vw;
        font-style: italic;
        font-weight: bold;
        span {
            color: $pink;
            font-weight: bold;
        }
    }
    .denunciantes {
        text-align: center;
        font-size: 6vw;
    }
    .center-pink-mono {
        .mono {
            font-style: italic;
            font-weight: bold;
            width: 80vw;
            text-align: left;
            margin: 0 auto;
        }
        #position-center {
            text-align: center;
        }
        .champ {
            text-align: center;
            font-size: 6vw;
        }
        .trabajo-mayoria {
            width: 80vw;
            margin: 0 auto;
            padding: 3vw;
        }
        .transparencia {
            width: 65vw;
            height: 10vw;
            border-radius: 65vw / 10vw;
            margin-bottom: 6vw;
        }
        .contraloria {
            font-weight: lighter;
            padding-top: 3vw;
            font-size: 10vw;
        }
    }
    .pink-border-box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        // flex-wrap: wrap;
        li {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            width: 60vw;
            height: 22vw;
            border: 0.5vw solid $pink;
            font-size: 4.5vw;
            border-radius: 2vw;
            padding: 0.5vw;
            margin: 3vw;
        }
    }
    .triste {
        display: flex;
        width: 10vw;
        margin: 0 auto;
    }
}

//section8
.section8 {
    display: flex;
    flex-direction: column;
    text-align: center;
    .yellow-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        width: 75vw;
        height: 12vw;
        padding-top: 1vw;
        font-size: 10vw;
        position: relative;
        top: 3vw;
        font-weight: lighter;
    }
    .yellow {
        font-weight: lighter;
    }
    .penal {
        margin-top: -10vw;
    }
    .mono {
        font-size: 3.5vw;
        font-weight: bold;
    }
    .header-bottom {
        display: flex;
        margin-top: 5vw;
        justify-content: center;
        text-align: center;
    }
    .corrupcion {
        font-size: 20vw;
        position: relative;
        padding-top: 4vw;
    }
    .corrupcion::before {
        position: absolute;
        content: "";
        top: 14vw;
        left: 18vw;
        border-top: 1.5vw solid $yellow;
        transform: rotate(10deg);
        width: 65vw;
        z-index: 999;
    }
    .admin {
        margin-top: -10vw;
    }
    .yellow-30deg {
        display: inline-block;
        position: relative;
        content: "";
        border-top: 0.5vw solid $yellow;
        transform: rotate(30deg);
        width: 20vw;
        z-index: 999;
        top: 4vw;
        justify-content: center;
        margin-left: 50vw;
    }
    .yellow30deg {
        display: flex;
        position: relative;
        content: "";
        border-top: 0.5vw solid $yellow;
        transform: rotate(-30deg);
        width: 20vw;
        z-index: 999;
        top: 5vw;
        justify-content: center;
        left: 33vw;
    }
    .yellow-150deg {
        display: inline-block;
        position: relative;
        content: "";
        border-top: 0.5vw solid $yellow;
        transform: rotate(-150deg);
        width: 20vw;
        z-index: 999;
        top: 4vw;
        justify-content: center;
        left: 33vw;
        margin-bottom: 4vw;
    }
    .yellow150deg {
        display: flex;
        position: relative;
        content: "";
        border-top: 0.5vw solid $yellow;
        transform: rotate(150deg);
        width: 20vw;
        z-index: 999;
        top: 5vw;
        justify-content: center;
        left: 50vw;
    }
    .yellow90deg {
        display: flex;
        position: relative;
        content: "";
        border-top: 0.5vw solid $yellow;
        transform: rotate(90deg);
        width: 6vw;
        z-index: 999;
        top: 3vw;
        justify-content: center;
        margin: 0 auto;
    }
    .tipo-corrupcion {
        font-size: 14vw;
        text-align: left;
        margin-left: 23vw;
    }
    .subtitles {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .white-sides-border {
        border: 0.4vw solid $white;
        border-radius: 2vw;
        height: 28vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #white-sides-border {
        width: 60vw;
        font-size: 4.5vw;
    }
    #left {
        text-align: left;
    }
    .white-mono {
        font-size: 4vw;
        width: 80vw;
        font-weight: lighter;
        text-align: center;
        margin: 0 auto;
    }
    .royal-mono {
        font-size: 4vw;
        width: 60vw;
        font-weight: bold;
        text-align: left;
        margin: 3vw auto;
    }
    .one,
    .two {
        width: 11vw;
        position: relative;
        top: 15vw;
        left: -35vw;
    }
    .center-royal {
        width: 75vw;
        margin: 0 auto;
        font-size: 4vw;
        padding-top: 6vw;
        span {
            font-weight: bolder;
        }
    }
    .sin-respuesta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 4vw auto -2vw;
        .heavychamp {
            font-size: 10vw;
            padding-right: 2vw;
        }
        .mono {
            font-style: italic;
            font-size: 6vw;
        }
    }
    .center-mono {
        width: 55vw;
        font-size: 2vw;
        margin: 4vw auto;
    }
    .comite {
        width: 70vw;
        margin: 0 auto;
        padding-top: 5vw;
        font-size: 6vw;
        padding-bottom: 3vw;
    }
    .section-bottom {
        padding-top: 1vw;
        font-size: 3.5vw;
    }
}

//section9
.royal-box {
    display: flex;
    flex-direction: column;
    .yellow-box {
        width: 50vw;
        padding-top: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10vw;
        font-weight: lighter;
        margin: 3vw auto;
    }
    .mono {
        margin: 0 auto;
        font-size: 4vw;
        font-style: italic;
        padding: 2vw;
        text-align: center;
    }
    .mono:nth-child(5) {
        margin: 0;
        text-align: left;
        position: relative;
        left: 15vw;
        bottom: -6vw;
    }
    .champ {
        margin: 0 auto;
        font-size: 12vw;
        font-weight: lighter;
    }
    #impunidad {
        font-size: 23vw;
    }
    .corrupcion {
        position: relative;
    }
    .corrupcion::before {
        position: absolute;
        content: "";
        left: 0;
        top: 7vw;
        right: 10vw;
        border-top: 1vw solid $yellow;
        transform: rotate(10deg);
        width: 39vw;
        z-index: 999;
    }
}

.background-yellow {
    display: flex;
    flex-direction: column;
    .champ {
        padding: 3vw;
        margin: 0 auto;
        font-size: 10vw;
        font-weight: lighter;
    }
    .mono-pink {
        margin: 0 auto;
        font-size: 10vw;
        font-weight: bold;
    }
    .sub {
        font-size: 3.5vw;
        font-style: italic;
        margin-bottom: -3.5vw;
    }
    .one {
        margin-left: 16.5vw;
    }
    .two {
        margin-left: 22vw;
        margin-top: 4vw;
    }
    .three {
        text-align: right;
        margin-right: 22vw;
        margin-top: -2.7vw;
        margin-bottom: 6vw;
        font-size: 3vw;
    }
    .four {
        margin-left: 10vw;
    }
    .five {
        text-align: right;
        margin-right: 9vw;
        margin-top: -3vw;
        margin-bottom: 6vw;
    }
    .six {
        text-align: right;
        margin-right: 12vw;
        margin-top: -3vw;
        margin-bottom: 6vw;
    }
    .seven {
        text-align: right;
        margin-right: 10vw;
        margin-top: -3vw;
        margin-bottom: 6vw;
    }
    .bottom-mono {
        font-size: 3.6vw;
        font-weight: bold;
        font-style: italic;
        padding-bottom: 3vw;
        margin: 0 auto;
        width: 70vw;
        height: 20vw;
        text-align: center;
    }
    button {
        font-family: $heavychamp;
        background-color: $pink;
        font-size: 4vw;
        margin: 5vw auto;
        width: 50vw;
        height: 10vw;
        border: none;
        border-radius: 2vw;
        a {
            text-decoration: none;
            color: $royal;
        }
    }
}

// media query here
@media only screen and (min-width: 1300px) {
    body {
      width: 60%;
      background-color: $royal;
      margin: 0 auto;
    }

    .header-container {
        padding: 3vw;
        .header-logo {
            width: 42vw;
            margin: 0 auto;
            padding-bottom: 3vw;
        }
        .header-text {
            width: 48vw;
            margin: -2vw auto;
            p {
                font-size: 2.4vw;
            }
        }
        .header-mono-font-style {
            font-size: 2.4vw;
        }
        button {
            font-size: 2.4vw;
            margin: 3vw auto;
            width: 30vw;
            height: 6vw;
            border-radius: 1.2vw;
        }
    }

    .section1 {
        .section1-box {
            margin: 0 auto;
        }
        .section1-mono-font-style {
            font-size: 3.3vw;
            padding-top: 2vw;
        }
        .section1-champ-style {
            font-size: 20vw;
            margin-top: -3vw;
        }
        .section1-transformed-box {
            width: 20vw;
            transform: rotate(-10deg);
            font-size: 6vw;
            top: -7vw;
            margin: 0 auto;
        }
        .section-1-person-style {
            font-size: 18vw;
            margin-top: -8vw;
            text-align: center;
            span {
                font-size: 9vw;
                position: relative;
                top: -6.3vw;
                left: -2vw;
            }
        }
    }

    .section2 {
        .section2-mono {
            height: 4.2vw;
            p {
                font-size: 2.4vw;
            }
        }
        .section2-1stbox {
            width: 54vw;
            margin: 1.8vw auto;
            .mono {
                font-size: 2.4vw;
                font-weight: bold;
            }
            .chihuahua {
                transform: rotate(-1deg);
                margin: -1.8vw;
            }
            .royal-box {
                width: 18vw;
                height: 18vw;
                padding-top: 1.8vw;
            }
            .yellow-box {
                padding: 2vw 2vw;
                transform: rotate(-2deg);
                position: relative;
                top: -7vw;
            }
            .heavychamp {
                font-size: 2.8vw;
            }
            .champ {
                font-size: 2.8vw;
            }
        }
        .section2-2ndbox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 54vw;
            margin: -8vw auto;
            .mono {
                font-size: 2vw;
                align-self: flex-end;
                text-align: right;
                margin-bottom: -1vw;
            }
            .royal-box {
                width: 36vw;
                height: 16.8vw;
            }
            .champ {
                font-size: 5.4vw;
                margin-bottom: 1vw;
            }
            .heavychamp {
                font-size: 4.8vw;
                margin-left: 2.4vw;
                margin-top: 1.8vw;
                margin-right: 2.4vw;
            }
            #section2-span {
                margin-bottom: 1.8vw;
            }
            #se {
                text-align: center;
                font-size: 2.4vw;
                padding: 0;
                margin-top: -4.4vw;
                margin-bottom: -1.4vw;
            }
            .mono-white {
                margin-right: 12vw;
            }
        }
        .section2-3rdstar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60vw;
            margin-top: 6vw;
            margin-bottom: 1vw;
            .yellow-box {
                width: 50vw;
                font-size: 2vw;
                margin: 8vw auto;
                padding: 0;
            }
            #star {
                width: 36vw;
                height: auto;
                margin: -16vw auto -1.8vw;
            }
        }
        .mono {
            padding: 3.3vw;
            font-size: 2vw;
        }
        .white-mono {
            margin: 2.4vw auto 1vw;
        }
    }

    .section3 {
        .background-white {
            .champ {
                font-size: 7.2vw;
                padding: 3vw;
            }
        }
        .background-yellow {
            clip-path: polygon(0 10%, /* left top */
            100% 0, /* right top */
            100% 100%, /* right bottom */
            0 100%
            /* left bottom */
            );
            padding-top: 2vw;
            .champ {
                font-size: 7.2vw;
                padding: 3vw;
            }
        }
        .mono {
            font-size: 2vw;
            margin-top: -2vw;
            margin-bottom: 2.4vw;
        }
    }

    .section4 {
        .section-head {
            font-size: 6vw;
        }
        .wrapped-title {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            justify-content: flex-end;
            margin-bottom: 1vw;
            margin-right: 1vw;
            font-size: 1.45vw;
            text-align: right;
            line-height: 1.2;
        }
        .pasos {
            width: 13vw;
            margin-top: 2.5vw;
            padding: 0.3vw 2vw;
            margin-left: 0vw;
            margin-top: -2.4vw;
            font-size: 2.5vw;
            font-weight: bolder;
            color: $royal;
        }
        .cuatro {
            padding: 0 0.3vw;
            font-weight: lighter;
            font-size: 2.5vw;
        }
        position: relative;
        .flex-corruption {
            position: relative;
        }
        .flex-corruption::before {
            position: absolute;
            content: "";
            left: 0;
            top: 4.8vw;
            right: 10vw;
            border-top: 0.8vw solid $yellow;
            transform: rotate(10deg);
            width: 30vw;
            z-index: 999;
        }
        .one,
        .two,
        .three,
        .four {
            width: 5.5vw;
            position: relative;
            top: 8vw;
            left: 6vw;
        }
        .pink {
            margin-top: 1vw;
            margin-left: 10vw;
            font-size: 5vw;
            font-weight: lighter;
            padding: 2vw;
        }
        .left {
            margin-left: 11.5vw;
            font-size: 2vw;
            margin-bottom: -3vw;
        }
        .right {
            margin-left: 0;
            margin-top: -2vw;
            font-size: 2vw;
            text-align: right;
        }
        .right-2 {
            margin-top: -2.4vw;
            margin-left: 0;
            margin-bottom: 2.4vw;
            font-size: 2vw;
            text-align: right;
        }
    }

    
  }