$champ: "Champion",
sans-serif;
$person: "faction_personalblack",
sans-serif;
$mono: "Space Mono",
sans-serif;
$white: #fff;
$yellow: #ffb33d;
$pink: #ed4462;
$royal: #1a1b2f;
$black: #000;
header {
    background: lightblue;
}

.champ {
    font-family: $champ;
}

.person {
    font-family: $person;
}

.mono {
    font-family: $mono;
}

.white {
    color: $white;
}

.yellow {
    color: $yellow;
}

.pink {
    color: $pink;
}

.royal {
    color: $royal;
}

.black {
    color: $black;
}

.background-white {
    background-color: $white;
}

.background-yellow {
    background-color: $yellow;
}

.background-pink {
    background-color: $pink;
}

.background-royal {
    background-color: $royal;
}

.yellow-box {
    background-color: $yellow;
}

.royal-box {
    background-color: $royal;
}

.royal-star {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid $royal;
    position: relative;
}

.royal-star:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid $royal;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}

.yellow-ellipse {
    width: 25vw;
    height: 10vw;
    background: $yellow;
    border-radius: 25vw / 15vw;
    z-index: -1;
}

.header-mono-font-style {
    font-size: 3vw;
    font-weight: bold;
    font-style: italic;
}

// .section1-mono-font-size