@import url(//db.onlinewebfonts.com/c/e33b1a09897268653accb3debb07e7ac?family=Champion);
@font-face {
    font-family: "Champion";
    src: url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.eot");
    src: url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.woff") format("woff"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e33b1a09897268653accb3debb07e7ac.svg#Champion") format("svg");
}

@font-face {
    font-family: "faction_personalblack";
    src: url('../css/fonts/factionblack-personal-webfont.woff2') format('woff2'), url('../css/fonts/factionblack-personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$champ: "Champion",
sans-serif;
$person: "faction_personalblack",
sans-serif;
$mono: "Space Mono",
sans-serif;
$white: #fff;
$yellow: #ffb33d;
$pink: #ed4462;
$royal: #1a1b2f;
$black: #000;
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.champ {
    font-family: $champ;
}

.person {
    font-family: $person;
}

.mono {
    font-family: $mono;
}

.white {
    color: $white;
}

.yellow {
    color: $yellow;
}

.pink {
    color: $pink;
}

.royal {
    color: $royal;
}

.black {
    color: $black;
}

.background-white {
    background-color: $white;
}

.background-yellow {
    background-color: $yellow;
}

.background-pink {
    background-color: $pink;
}

.background-royal {
    background-color: $royal;
}

.yellow-box {
    background-color: $yellow;
}

.royal-box {
    background-color: $royal;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    .three-styles {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 15vw;
    }
    .parallelogram {
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -ms-transform: skew(20deg);
        -o-transform: skew(20deg);
        transform: skew(-20deg);
        width: 22vw;
        height: 10vw;
        p {
            transform: skew(20deg);
            position: absolute;
            top: 0.8vw;
            right: 1.8vw;
            text-align: right;
            padding: 0 2vw;
        }
    }
    .header-text {
        width: 60vw;
        margin: -2vw auto;
        p {
            font-size: 3vw;
        }
    }
    .header-mono-font-style {
        font-size: 3vw;
        font-weight: bold;
        font-style: italic;
    }
    .flex-anti {
        font-size: 14vw;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: 0;
        justify-content: center;
    }
    .flex-corruption {
        font-size: 9vw;
        margin-top: -4.5vw;
    }
}

.section1 {
    display: flex;
    flex-direction: column;
    .section1-box {
        margin: 0 auto;
    }
    .section1-mono-font-style {
        font-size: 3vw;
        font-weight: bold;
        font-style: italic;
        padding-top: 2vw;
    }
    .section1-champ-style {
        font-size: 20vw;
        margin-top: -3vw;
    }
    .section1-transformed-box {
        width: 20vw;
        transform: rotate(-10deg);
        font-weight: bold;
        font-style: italic;
        font-size: 6vw;
        text-align: center;
        justify-content: center;
        position: relative;
        top: -7vw;
        margin: 0 auto;
        z-index: 99;
    }
    .section-1-person-style {
        font-size: 18vw;
        margin-top: -8vw;
        text-align: center;
    }
}

.section2 {
    .section2-mono {
        height: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 4vw;
            font-style: italic;
            font-weight: bold;
        }
    }
    .section2-1stbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
        margin-top: 3vw;
        .mono {
            font-size: 2.5vw;
            font-weight: bold;
        }
        .chihuahua {
            transform: rotate(-1deg);
            margin: -3vw;
        }
        .royal-box {
            width: 45vw;
            height: 20vw;
        }
        .yellow-box {
            padding: 2vw 2vw;
            transform: rotate(-2deg);
            position: relative;
            top: -3vw;
        }
        .person,
        .champ {
            display: flex;
            justify-content: center;
            font-weight: lighter;
        }
        .person {
            font-size: 8vw;
        }
        .person:first-child {
            margin-left: 2vw;
            margin-top: 2vw;
            margin-bottom: -2vw;
            margin-right: 8vw;
        }
        .champ {
            font-size: 7vw;
        }
    }
    .section2-2ndbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 90vw;
        margin-top: -8vw;
        h2 {
            font-weight: lighter;
        }
        .mono {
            font-size: 2.7vw;
            align-self: flex-end;
            text-align: right;
            margin-bottom: -3vw;
        }
        .royal-box {
            width: 48vw;
            height: 25vw;
        }
        .person,
        .champ {
            display: flex;
            justify-content: center;
        }
        .champ {
            font-size: 9vw;
            margin-bottom: 1vw;
        }
        .person {
            font-size: 8vw;
            margin-left: 4vw;
            margin-top: 3vw;
            margin-right: 4vw;
        }
        #section2-span {
            margin-bottom: 3vw;
        }
        #se {
            text-align: center;
            font-size: 3vw;
            padding: 0;
            margin-top: -7vw;
            margin-bottom: -2vw;
        }
    }
    .section2-3rdstar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        .yellow-box {
            width: 65vw;
            font-size: 2.8vw;
            margin: 8vw auto;
            padding: 0;
            transform: rotate(-3deg);
            text-align: center;
            z-index: 2;
        }
        .royal-star {
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid $royal;
            position: relative;
        }
        .royal-star:after {
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 100px solid $royal;
            position: absolute;
            content: "";
            top: 30px;
            left: -50px;
        }
    }
    .mono {
        text-align: right;
        padding: 3.5vw;
        font-size: 2.5vw;
        font-style: italic;
    }
}

.section3 {
    display: flex;
    flex-direction: column;
    .champ {
        text-align: center;
        font-size: 12vw;
        font-weight: lighter;
        padding: 3vw;
    }
    .mono {
        text-align: center;
        font-size: 2.7vw;
        margin-top: -2vw;
        margin-bottom: 4vw;
        font-style: italic;
    }
}

.section4 {
    display: flex;
    flex-direction: column;
    .section-head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        flex-wrap: wrap;
        flex: 1;
        font-weight: lighter;
        padding-top: 10vw;
        padding-right: 14vw;
        font-size: 10vw;
        h2 {
            font-weight: lighter;
        }
    }
    .wrapped-title {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        justify-content: flex-end;
        margin-bottom: 1vw;
        margin-right: 1vw;
        font-size: 4vw;
        text-align: right;
        line-height: 1.2;
    }
    .pasos {
        width: 22vw;
        margin-top: 3vw;
        padding: 1vw 2vw;
        margin-left: 60vw;
        margin-top: -5vw;
        font-size: 3vw;
        font-weight: bolder;
        color: $royal;
    }
    .cuatro {
        padding: 0 0.5vw;
        font-weight: bolder;
        font-size: 5vw;
    }
    .pink {
        margin-left: 17vw;
        font-size: 13vw;
        font-weight: lighter;
    }
    .left {
        margin-left: 17vw;
        font-size: 3vw;
        margin-bottom: -2vw;
    }
    .right {
        margin-right: 17vw;
        margin-top: -4vw;
        font-size: 3vw;
        text-align: right;
    }
    .right-2 {
        margin-top: -4vw;
        margin-right: 15vw;
        margin-bottom: 4vw;
        font-size: 3vw;
        text-align: right;
    }
}

.section5 {
    padding: 3vw;
    padding-left: 20vw;
    font-size: 2.5vw;
    font-style: italic;
    .royal {
        color: $royal;
        font-weight: bold;
        text-decoration: line-through;
    }
    .yellow {
        font-weight: bold;
    }
}

.section6 {
    padding-top: 3vw;
    padding-bottom: 4vw;
    .yellow-box {
        width: 50vw;
        margin: 0 auto;
        text-align: center;
        padding: 1.5vw;
        font-size: 8.5vw;
        font-weight: lighter;
    }
    .mono {
        font-size: 2.5vw;
        text-align: center;
    }
    .header {
        margin-left: 24vw;
        text-align: left;
    }
}

.section7 {
    padding-top: 3vw;
    padding-bottom: 4vw;
    .yellow-box {
        width: 50vw;
        margin: 0 auto;
        text-align: center;
        padding: 1vw;
        font-size: 8.5vw;
        font-weight: lighter;
    }
    #person {
        font-size: 8.5vw;
    }
    .mono {
        font-size: 2.5vw;
        text-align: center;
    }
    .header-top {
        margin-left: 24vw;
        text-align: left;
    }
    .header-bottom {
        text-align: right;
        padding-right: 24vw;
        padding-bottom: 4vw;
    }
    .yellow-mono {
        font-weight: bold;
        font-style: italic;
        margin-bottom: 2vw;
    }
    .person {
        font-size: 5vw;
        font-weight: lighter;
        text-align: center;
    }
    .yellow-ellipse {
        width: 30vw;
        height: 15vw;
        background: $yellow;
        border-radius: 50vw / 25vw;
        z-index: -1;
        margin: 5vw auto 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mono-pink {
        padding: 4vw;
        font-size: 4vw;
        font-weight: bold;
        font-style: italic;
    }
    .anonimo {
        display: flex;
        justify-content: center;
        font-size: 6vw;
        padding: 4vw;
        span {
            color: black;
        }
    }
    .anonimo-text {
        width: 55vw;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 2vw;
    }
    .yellow-center {
        text-align: center;
        width: 55vw;
        margin: 0 auto;
        padding: 2vw;
    }
    .denunciantes {
        text-align: center;
        font-size: 6vw;
    }
    .center-pink-mono {
        p {
            font-style: italic;
            font-weight: bold;
            width: 60vw;
            text-align: center;
            margin: 0 auto;
        }
    }
}

//section8 
.royal-box {
    display: flex;
    flex-direction: column;
    .yellow-box {
        width: 50vw;
        padding-top: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10vw;
        font-weight: lighter;
        margin: 3vw auto;
    }
    .mono {
        margin: 0 auto;
        font-size: 3vw;
        font-style: italic;
        padding: 2vw;
        text-align: center;
    }
    .mono:nth-child(5) {
        margin: 0;
        text-align: left;
        position: relative;
        left: 15vw;
        bottom: -6vw;
    }
    .champ {
        margin: 0 auto;
        font-size: 12vw;
        font-weight: lighter;
    }
    #impunidad {
        font-size: 23vw;
    }
}

// section 9
.background-yellow {
    display: flex;
    flex-direction: column;
    .champ {
        padding: 3vw;
        margin: 0 auto;
        font-size: 10vw;
        font-weight: lighter;
    }
    .mono-pink {
        margin: 0 auto;
        font-size: 10vw;
        font-weight: bold;
    }
    .sub {
        font-size: 3vw;
        font-style: italic;
        margin-bottom: -3.5vw;
    }
    .one {
        margin-left: 16.5vw;
    }
    .two {
        margin-left: 22vw;
        margin-top: 4vw;
    }
    .three {
        text-align: right;
        margin-right: 22vw;
        margin-top: -2.7vw;
        margin-bottom: 6vw;
        font-size: 2.7vw;
    }
    .four {
        margin-left: 10vw;
    }
    .five {
        text-align: right;
        margin-right: 9vw;
        margin-top: -3vw;
        margin-bottom: 6vw;
    }
    .six {
        text-align: right;
        margin-right: 12vw;
        margin-top: -3vw;
        margin-bottom: 6vw;
    }
    .seven {
        text-align: right;
        margin-right: 10vw;
        margin-top: -3vw;
        margin-bottom: 6vw;
    }
    .bottom-mono {
        font-size: 3vw;
        font-weight: bold;
        font-style: italic;
        padding: 3vw;
        margin: 0 auto;
        width: 70vw;
        height: 20vw;
        text-align: center;
    }
}